<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Noticia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <header th:include="componentes/headerNav.html :: header"></header>

    <form class="formulario-container" th:object="${noticia}" th:action="@{/save}" method="POST"
      enctype="multipart/form-data">
      <h2 class="titulo-noticia-form text-center">Ingresa la nueva Noticia</h2>
      <div class="form-group form-create-noticia">
        <div>
          <input type="text" class="form-control form-input-noticia" name="titulo" placeholder="Ingrese el título"
            autocomplete="off" required />
        </div>
      </div>
      <div class="form-group">
        <div>
          <textarea class="form-control form-input-noticia w-50 m-auto" name="cuerpo"
            placeholder="Ingrese la descripción" autocomplete="off" required></textarea>
        </div>
      </div>
      <div class="form-group text-center">
        <label class="control-label mb-2" for="descripcion">Imagen:</label>
        <div>
          <input type="file" name="file" required />
          <div id="errorArchivo" style="display: none">
            El archivo seleccionado es demasiado grande.
          </div>
        </div>
      </div>
      </div>
      <div class="autor-existente-fields">
        <label class="control-label mb-2">Autor existente:</label>
        <select class="form-control form-input-noticia" name="autorExistente">
          <option>Seleccione un autor</option>
          <option th:each="autor : ${autor}" th:value="${autor.id}">
            <span th:text="${autor.nombre} + ' ' + ${autor.apellido}"></span>
          </option>
        </select>
      </div>

      <div class="form-group">
        <div>
          <label class="control-label mb-2" for="autorNombre">Autor nuevo:</label>
          <input type="text" class="form-control form-input-noticia" name="autorNombre"
            placeholder="Ingrese el nombre del Autor" autocomplete="off" required />
        </div>
      </div>
      <div class="form-group">
        <div>
          <input type="text" class="form-control form-input-noticia" name="autorApellido"
            placeholder="Ingrese el apellido del Autor" autocomplete="off" required />
        </div>
      </div>
      <div class="row">
        <div class="w-50 m-auto">
          <button type="submit" class="btn btn-custom">
            <span class="glyphicon glyphicon-saved"></span> Guardar
          </button>
        </div>
      </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    <script src="../static/javascript/validarPesoImagenInput.js"></script>
  </body>

</html>